.not-found-container {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
    max-width: 400px;
    transition: grid-template-rows 0.3s ease-in-out;
}

#not-found {
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    gap: 24px;
    line-height: 1.5;
    margin: 0;
    min-height: 0;
    overflow: hidden;
    text-align: center;
    text-shadow: -2px 2px 0 #232634;
    transition: color 0.2s ease;
}

.back-button-container {
    display: grid;
    grid-template-rows: 1fr;
    text-shadow: -2px 2px 0 #232634;
    top: 20px;
    z-index: 9999;
}

.back-button {
    background-color: #494d64;
    box-shadow: -8px 8px 0 #232634;
    color: #ca9ee6;
}

.back-button:hover {
    background-color: #ca9ee6;
    text-shadow: 0 0 0 #232634;
    transform: scale(1.02);
}

.back-button:visited .home-icon {
    color: #ca9ee6;
}

.back-button:hover .home-icon {
    color: #494d64;
}
