body {
    background-color: var(--background-1-color);
    transition: background-color 0.2s ease-in-out;
}

.back-button-container {
    left: 20px;
    position: fixed;
    text-shadow: -2px 2px 0 var(--secondary-color);
    top: 20px;
    z-index: 9999;
}

.back-button {
    background-color: var(--background-2-color);
    box-shadow: -8px 8px 0 var(--background-0-color);
    color: var(--primary-color);
}

.back-button:hover {
    background-color: var(--primary-color);
    text-shadow: 0 0 0 var(--secondary-color);
    transform: scale(1.02);
}

.back-button:visited .back-icon {
    color: var(--primary-color);
}

.back-button:hover .back-icon {
    color: var(--background-2-color);
}

.title-container {
    display: grid;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
    max-width: 400px;
    text-transform: lowercase;
    transition: grid-template-rows 0.3s ease-in-out;
}

#title {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
    margin-left: -0.15em;
    margin-right: -0.15em;
    min-height: 0;
    overflow: hidden;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-align: center;
    text-shadow: -2px 2px 0 var(--secondary-color);
    transition: color 0.2s ease;
}

.list-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-shadow: -2px 2px 0 var(--secondary-color);
    transition: color 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.list-container button:hover {
    color: var(--background-3-color);
}

.list-container button.active {
    transform: scale(1.1);
}
