body {
    background-color: var(--background-2-color);
    transition: background-color 0.2s ease-in;
}

.back-button-container {
    left: 20px;
    position: fixed;
    text-shadow: -2px 2px 0 var(--secondary-color);
    top: 20px;
    z-index: 9999;
}

.back-button {
    background-color: var(--background-4-color);
    box-shadow: -8px 8px 0 var(--background-0-color);
    color: var(--primary-color);
}

.back-button:hover {
    background-color: var(--primary-color);
    text-shadow: 0 0 0 var(--secondary-color);
    transform: scale(1.02);
}

.back-button:visited .back-icon {
    color: var(--primary-color);
}

.back-button:hover .back-icon {
    color: var(--background-4-color);
}

#album {
    background-clip: padding-box;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    text-transform: capitalize;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list-container button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.1rem;
    line-height: 1.5;
    max-width: 400px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    text-shadow: -2px 2px 0 var(--secondary-color);
    transition: color 0.2s ease-in, text-shadow 0.2s ease-in;
}

.list-container button:hover {
    color: var(--secondary-color);
    transition: color 0.2s ease-in
}
