* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #303446;
    color: #f2d5cf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
