* {
    box-sizing: border-box;
    font-family: MingLiU, PMingLiU, "细明体", "PMingLiU", serif;
    font-style: italic;
    margin: 0;
    padding: 0;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    align-items: center;
    background-color: #303446;
    color: #ca9ee6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.back-button {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    height: 32px;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out,
    transform 0.1s ease-in-out;
    width: 32px;
}
