<!DOCTYPE html>
<html lang="en">
<head>
    <title>eaux</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/404.css">
</head>
<body>
<div class="not-found-container">
    <p id="not-found">404</p>
</div>
<div class="back-button-container">
    <a href="/" class="back-button">
        <i class="fa-solid fa-house home-icon"></i>
    </a>
</div>
</body>
</html>
