<!DOCTYPE html>
<html lang="en">
<head>
    <title>eaux - {{ album }}</title>
    <style>
        :root {
            --primary-color: #ca9ee6;
            --secondary-color: #232634;
            --background-0-color: #232634;
            --background-1-color: #292c3c;
            --background-2-color: #303446;
            --background-3-color: #414559;
            --background-4-color: #494d64;
            --background-5-color: #51576d;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/album.css">
    {% if dev_mode %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/static/js/album.js"></script>
    {% else %}
        <script type="module" src="{{ url_for('static', filename='dist/' + vite_asset('static/js/album.js')) }}"></script>
    {% endif %}
</head>
<body>
<div class="back-button-container">
    <a href="/{{ genre }}" class="back-button">
        <i class="fa-solid fa-chevron-left back-icon"></i>
    </a>
</div>
<div id="album" data-genre="{{ album }}"></div>
<audio id="audio" autoplay controls hidden>
    <source
            id="source"
            src=""
            type="audio/x-wav;codec=pcm"
    >
</audio>
<div class="title-container">
    <p id="title">{{ album }} - {{ artist }}</p>
</div>
<div class="list-container">
    <p id="list"></p>
    {% for song in songs %}
    <button type="button" class="song-button" data-song="{{ song }}">
        {{ song }}
    </button>
    {% endfor %}
</div>
</body>
</html>
